@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.text-center {
	text-align: center;
	color: white;
	background-color: #808080;
	position: fixed;
	top: 0;
	right: 0;
	height: 20vh;
	padding: 2rem;
	width: 220vh;
}


.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
	margin: 1rem 0 0.5rem;
}

.logo i {
	font-size: 3rem;
	margin-right: 1rem;
}

.buttonone {
	background-color: rebeccapurple;
	border: none;
	color: white;
	position: fixed;
	top: 44px;
	right: 20px;
	padding: 1rem;
	transition: transform 0.3s ease-in-out;
  }
  
.buttonone.active {
	transform: translateX(-190px); 
  }
  
nav {
	background-color: rebeccapurple;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	padding: 2rem;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
  }
  
  nav.active {
	transform: translateX(0);
  }
  
  nav ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
  }
  
  nav ul li {
	padding: 1rem 0;
  }
  
  nav a {
	color: white;
	text-decoration: none;
  }
  

.container {
  background-color: #fff;
  position: absolute;
  top: 20vh;
  right: 140vh;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.container2 {
  background-color: #fff;
  position: fixed;
  top: 20vh;
  right: 29vh;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 450px;
  max-width: 100%;
}

.heading {
  font-style: italic;
}

td{
  padding: 10px 50px;
  border-bottom: 1px solid #f0f0f0;
}

.header {
  border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
  width: 100%;
  height: 50px;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
  top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.buttontwo {
	background-color: rebeccapurple;
	border: 2px solid rebeccapurple;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}



